---
import MainTitle from "../../components/MainTitle.astro";
import Breadcrums from "../../components/shared/Breadcrums.astro";
import { Projects } from "../../components/solid/Projects";
import { ELangs } from "../../enums/ELangs";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { ProjectModel } from "../../models/ProjectModel";
import { ServicesModel } from "../../models/ServicesModel";

const projectsRaw = await Astro.glob<ProjectModel>('/public/assets/projects/es/*.md');
  const projects = projectsRaw.map(i => {
    return {
    desc: i.frontmatter.desc,
    developers: i.frontmatter.developers,
    months: i.frontmatter.months,
    phases: i.frontmatter.phases,
    slug: i.frontmatter.slug,
    title: i.frontmatter.title,
    tags: i.frontmatter.tags,
    img: i.frontmatter.img,
  }
})

const url = Astro.request.url
const services = await Astro.glob<ServicesModel>('/public/assets/services/en/*.md');
const servicesNames = services.map(i => ({
  name: i.frontmatter.title
}))

---
<Layout title="Portfolio" lang="es">
  <Container>
    <Breadcrums currentPath="Portfolio" />
    <section class="hero">
        <MainTitle redLine="Explora" title="nuestras obras" />
        <p class="hero__desc">
          Aplicamos tecnologías modernas para desbloquearle nuevos mercados, expandir sus oportunidades comerciales y acercarle un paso más al éxito. Combinamos desarrolladores con diseñadores,
           traductores con redactores, todos expertos en sus campos, implementando lo que funciona.
        </p>
    </section>
    <Projects 
      client:load 
      servicesNames={servicesNames} 
      projects={projects} 
      url={url} 
      allBtnTitle="Todos los proyectos" 
      learnMoreText="Lee más"
      langHref={ELangs.sp}
      />
  </Container>
</Layout>

<style>
    .hero {
    display: flex;
    margin-bottom: 10rem;
    flex-direction: column;
    background: url("/assets/img/works/star.svg") no-repeat center right / 40vw;
  }
  .hero__img {
    content: url("/assets/img/works/star.svg");
  }
  
  .hero {
    display: flex;
    margin-bottom: 10rem;
  }
  
  .hero__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hero__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    max-width: 500px;
  }
  @media(max-width: 1279px) {
    .hero {
      display: flex;
      align-items: center;
      margin-bottom: 10rem;
      flex-direction: column;
      padding-bottom: 40vw;
      background: url("/assets/img/works/star.svg") no-repeat center bottom / 40vw;
    }
    
  }

  @media(max-width: 767px) {
    .hero__desc {
      font-size: 14px;
    }
  }
</style>
