---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<section>
  <h2>{title}</h2>
  <slot />
</section>

<style lang="scss">
  section {
    margin-bottom: 10rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 3.75rem;
  }

  @media (max-width: 767) {
    section {
      margin-bottom: 7.5rem;
    }
  }
</style>