---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/main/Hero.astro';
import About from '../components/main/About.astro';
import Map from '../components/main/Map.astro';
import How from '../components/main/How.astro';
import Services from '../components/main/Services.astro';
import Technologies from '../components/main/Technologies.astro';
import CallbackForm from '../components/solid/CallbackForm.astro';
import Container from '../layouts/Container.astro';
import { MainSectionModel } from '../models/MainSectionModel';

const [main] = await Astro.glob<MainSectionModel>("/public/assets/content/en/main/*.md")

---

<Layout title="Pireactor" preloadImg="main/main.svg">
  <Container>
    <Hero 
      redLine="Startup &"
      title="product catalyzer"
      path="#callback-form"
    />
    <About 
      counters={main.frontmatter.counters}
      desc={main.frontmatter.desc}
      title="About"
    />
    <Map 
      title="We develop projects for clients from all over the world"
    />
  </Container>
  <How />
  <Container>
    <div class="services-wrp" id="services">
      <Services />
    </div>
    <Technologies />
    <div id="callback-form">
      <CallbackForm />
    </div>
  </Container>
</Layout>

<style lang="scss">
  
html {
  scroll-behavior: smooth;
}
  
</style>