---
import MainTitle from "../components/MainTitle.astro";
import Breadcrums from "../components/shared/Breadcrums.astro";
import { Projects } from "../components/solid/Projects";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import { ProjectModel } from "../models/ProjectModel";

const projectsRaw = await Astro.glob<ProjectModel>('/public/assets/projects/*.md');
const projects = projectsRaw.map(i => {
  return {
    desc: i.frontmatter.desc,
    developers: i.frontmatter.developers,
    months: i.frontmatter.months,
    phases: i.frontmatter.phases,
    slug: i.frontmatter.slug,
    title: i.frontmatter.title,
    tags: i.frontmatter.tags,
    img: i.frontmatter.img,
  }
})

const url = Astro.request.url

---
<Layout title="Portfolio" preloadImg="works/star.svg">
  <Container>
    <Breadcrums currentPath="Portfolio" />
    <section class="hero">
      <div class="hero__title">
        <MainTitle redLine="Explore" title="our Works" />
        <p class="about__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor vehicula enim sit integer scelerisque nunc
          potenti. Elementum, nunc, arcu suspendisse platea quis et velit venenatis urna. Non bibendum integer quam
          amet.
        </p>
      </div>
      <div class="hero__img"></div>
    </section>
    <Projects client:load projects={projects} url={url}/>
  </Container>
</Layout>

<style>
    .hero__img {
    content: url("/assets/img/works/star.svg");
  }

  .hero {
    display: flex;
    margin-bottom: 10rem;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
  }
</style>