.formSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
  width: 100%;
}
.formSection__header {
  margin-bottom: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;
}

.formSection__clear {
  padding: 0;
  border: none;
  color: #C4C4C4;
  font-family: var(--fontStack);
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
}

.formSection__clear:hover {
  color: var(--color-hover);
  transition: color 0.3s ease-in-out;
}
.formSection__clear:active {
  color: var(--color-active);
}

.formSection__fieldset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.formSection__fieldsetGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3.125rem;
  align-self: start;
}

.formSection__itemsBlock {
  display: flex;
  flex-direction: column;

  & > label:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }

  & > div:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }
}

.formSection__duration {
  margin-top: 2.25rem;
  margin-bottom: 3rem;
}

.fieldset_textInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.dontKnow {
  width: 100%;
}

.formSection__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5rem;
}

@media(max-width: 768px) {
  .formSection__caption {
    font-size: 22px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .formSection__header {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .formSection__fieldset {
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .formSection__itemsBlock {
  
    & > label:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  
    & > div:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  .formSection__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .formSection {
    margin-bottom: 2rem;
  }

  .formSection__fieldsetGrid {
    grid-template-columns: 1fr;
  }

  .fieldset_textInput {
    grid-template-columns: 1fr;
  }
}