---
import Container from "./Container.astro";

---

<footer class="footer">
  <Container>
    <div class="footer__footer">
      <small>&copy; 2022 Pireactor - All Rights Reserved</small>
      <div class="footer__locations">New York, Kyiv, Gdansk</div>
      <a href="mailto: info@pireactor.io" class="footer__mail">
        <svg class="footer__mail-pic" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M19 18.981H5C4.46957 18.981 3.96086 18.7703 3.58579 18.3953C3.21071 18.0202 3 17.5115 3 16.981V7.01904C3 6.48861 3.21071 5.9799 3.58579 5.60483C3.96086 5.22976 4.46957 5.01904 5 5.01904H19C19.5304 5.01904 20.0391 5.22976 20.4142 5.60483C20.7893 5.9799 21 6.48861 21 7.01904V16.982C20.9997 17.5123 20.7889 18.0208 20.4139 18.3956C20.0388 18.7705 19.5303 18.981 19 18.981V18.981Z"
            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M17 9L12 12L7 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        info@pireactor.io
      </a>
      <ul class="footer__socials">
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="http://" aria-label="facebook">
            <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.9281 3.98438H13.1875V0.16875C12.7984 0.117187 11.4578 0 9.89688 0C6.63906 0 4.40781 1.9875 4.40781 5.63906V9H0.8125V13.2656H4.40781V24H8.81406V13.2656H12.2641L12.8125 9H8.81406V6.06094C8.81406 4.82812 9.15625 3.98438 10.9281 3.98438Z"
                fill="white" />
            </svg>
          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="http://" aria-label="twitter">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.533 7.11175C21.5482 7.32494 21.5482 7.53817 21.5482 7.75136C21.5482 14.2539 16.599 21.7463 7.5533 21.7463C4.76648 21.7463 2.17767 20.9391 0 19.5382C0.395953 19.5838 0.776625 19.5991 1.18781 19.5991C3.48727 19.5991 5.60405 18.8224 7.29441 17.4976C5.13197 17.4519 3.31978 16.0356 2.69541 14.0864C3 14.132 3.30455 14.1625 3.62438 14.1625C4.06598 14.1625 4.50764 14.1016 4.91878 13.995C2.66498 13.5381 0.974578 11.5585 0.974578 9.16759V9.1067C1.62938 9.47219 2.39086 9.70061 3.19791 9.73103C1.87303 8.84777 1.00505 7.34017 1.00505 5.63458C1.00505 4.72089 1.24866 3.88333 1.67508 3.15236C4.09641 6.13713 7.73602 8.08633 11.8172 8.29956C11.7411 7.93408 11.6954 7.55341 11.6954 7.17269C11.6954 4.462 13.8883 2.25391 16.6141 2.25391C18.0304 2.25391 19.3095 2.84781 20.208 3.8072C21.3197 3.59402 22.3857 3.18283 23.3299 2.61939C22.9643 3.76155 22.1877 4.72094 21.1674 5.33003C22.1573 5.22348 23.1167 4.94931 23.9999 4.56864C23.33 5.54322 22.4924 6.4112 21.533 7.11175Z"
                fill="white" />
            </svg>

          </a>
        </li>
        <li class="footer__socials-item">
          <a class="footer__socials-link" href="http://" aria-label="linkedin">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.20051 22.4953H1.8468V8.47813H6.20051V22.4953ZM4.02131 6.56606C2.62944 6.56606 1.5 5.41319 1.5 4.02131C1.5 2.62944 2.62944 1.5 4.02131 1.5C5.41319 1.5 6.54262 2.62944 6.54262 4.02131C6.54262 5.41319 5.41319 6.56606 4.02131 6.56606ZM22.4953 22.4953H18.151V15.6718C18.151 14.0456 18.1182 11.9602 15.8874 11.9602C13.6239 11.9602 13.2771 13.727 13.2771 15.5547V22.4953H8.92803V8.47813H13.1037V10.3902H13.1646C13.7457 9.28889 15.1657 8.12665 17.284 8.12665C21.6892 8.12665 22.5 11.0276 22.5 14.7955V22.4953H22.4953Z"
                fill="white" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </Container>
</footer>

<style lang="scss">
  .footer {
    font-family: var(--btn-fontStack);
    border-top: 1px solid var(--color-gray);
    padding: 2rem 0;
  }

  .footer__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: var(--color-text);
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;

    svg {
      margin-right: 1.3475rem;

      &>path {
        transition: all 0.3s ease-in-out;
      }
    }
  }

  a:hover {
    color: var(--color-hover);
    transition: color 0.3s ease-in-out;

    
    &>svg>path {
      stroke: var(--color-hover);
      transition: all 0.3s ease-in-out;
    }
    &>.footer__mail-pic {
      stroke: var(--color-hover);
    }
  }
  
  .footer__socials-link:hover > svg > path {
    transition: all 0.3s ease-in-out;
    fill: var(--color-hover);

  }
  .footer__socials-link:hover {

  }

  .footer__socials {
    display: flex;
  }

  .footer__socials-item {
    margin-right: 1.625rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
</style>