---
import Logo from "../components/Logo.astro";
import { LangPicker } from "../components/solid/LangPicker";
import { ContentModel } from "../models/ContentModel";
import { ServicesModel } from "../models/ServicesModel";
import Container from "./Container.astro";

const unsortServices = await Astro.glob<ServicesModel>('/public/assets/services/*.md');
const content = await Astro.glob<ContentModel>('/public/assets/content/en/content.md');
const services = unsortServices.sort((a, b) => a.frontmatter.id - b.frontmatter.id);

const path = Astro.canonicalURL.pathname.replaceAll('/', '');
---
<header class="header js-header">
  <Container>
    <div class="header__wrp">
      <Logo />
        <div class="header__menu js-h-menu">
          <button type="button" class="header__menu-close-btn js-close" aria-label="close menu"/>
          <nav class="header__nav nav">
            <ul class="nav__list">
              <li class={`nav__list-item ${path==="about" ? "nav__list-item_active" : "" }`}>
                <a href="/about" class="nav__link" href="/">About us</a>
              </li>
              <li class={`nav__list-item ${path==="work" ? "nav__list-item_active" : "" }`}>
                <a href="/work" class="nav__link">Work</a>
              </li>
              <li class={`nav__list-item nav__list-item_services ${path==="services" ? "nav__list-item_active" : "" }`}
                tabindex={0}>
                <a href="/#services" class="nav__link" tabindex={-1}>Services</a>
                <ul class="nav__submenu submenu">
                  {services.map(i => (
                  <li class="submenu__item">
                    <a href={`/services/${i.frontmatter.slug}`} class="submenu__link">{i.frontmatter.title}</a>
                  </li>
                  ))}
                </ul>
              </li>
            </ul>
          </nav>
          <LangPicker client:load />
          <a href="/#callback-form" class="header__btn" type="button">Let's talk</a>
      </div>

      <button class="header__burger burger js-burger" aria-label="open nav menu">
      </button>
    </div>
  </Container>
</header>


<style lang="scss">
  .header__menu {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-gray);
    z-index: 500;
  }

  .header__wrp {
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
  }

  .header__nav {
    margin: 0 auto;
  }

  .nav__list-item {
    margin-right: 3.125rem;
  }

  .nav__list-item:last-child {
    margin-right: 0;
  }

  .nav__list-item_services {
    position: relative;
    background: url("/assets/img/header/arrow.svg") no-repeat center right;
    padding-right: 1rem;
  }

  .nav__list-item_services:hover .submenu,
  .nav__list-item_services:focus .submenu {
    opacity: 1;
    appearance: inherit;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(50%);
    z-index: 500;
  }

  .nav__list-item_services:hover .submenu__item,
  .nav__list-item_services:focus .submenu__item {
    display: block;

  }

  .submenu {
    opacity: 0;
    appearance: none;
    top: 3rem;
    right: 50%;
    font-size: 18px;
    position: absolute;
    padding: 1.25rem 1rem;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    background-color: var(--color-lightBlack);
    transition: opacity 0.3s ease-in-out;
    transform: translateX(200%);
  }

  .submenu::before {
    content: "";
    height: 2rem;
    width: 100%;
    position: absolute;
    top: -2rem;
    left: 0;
  }

  .submenu__item {
    display: none;
    padding: 0.75rem;
    border-bottom: 1px solid var(--color-gray);

    &:last-child {
      border-bottom: none;
    }
  }

  .submenu__item a:hover {
    color: var(--color-hover);
  }

  .submenu__link {
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
  }

  .header__btn {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--btn-fontStack);
    color: #FFFFFF;
    padding: 0.5rem 2.75rem;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: var(--color-bg);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .header__btn:hover {
    color: var(--color-hover);
    border-color: var(--color-hover);
  }

  .nav__list-item {
    position: relative;
  }

  .nav__list-item:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 25%;
    bottom: -1rem;
    background-color: #FFFFFF;
    transition: width 0.3s ease-in-out;
  }

  .nav__list-item:hover.nav__list-item:before {
    width: 100%;
  }

  .nav__list-item_active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 25%;
    bottom: -1rem;
    background-color: #FFFFFF;
  }

  .header__burger {
    display: none;
  }
  
  .burger {
    content: url("/assets/img/header/menu_btn.svg");
  }

  .header__menu-close-btn {
    display: none;
  }

  @media (max-width: 1279px) {
    .header {
      position: sticky;
      top: 0;
      background-color: var(--color-bg);
      margin-bottom: 1rem;
    }
    .header__menu {
      display: none;
      position: absolute;
      padding: 4rem 1rem 4rem 2.5rem;
      padding-top: 4rem;
      padding-left: 2rem;
      padding-left: 2rem;
      right: 0;
      top: 0;
      flex-direction: column;
      border: 1px solid var(--color-gray);
      border-radius: 8px 0px 0px 8px;
      height: 90vh;
      background-color: var(--color-bg);
      align-items: flex-start;
    }

    .header__nav {
      margin: 0;
      width: 100%;
      margin-bottom: 2.5rem;
    }
    .header__burger {
      display: flex;
    }

    .nav__list {
      flex-direction: column;
    }

    .nav__list-item {
      margin-right: 0;
      padding: 1rem 0;
      border-bottom: 1px solid var(--color-gray);
    }
    .nav__list-item:before {
    content: none;
  }
    .nav__list-item::after {
    content: none;
  }

  .nav__list-item_services {
    background-image: none;
  }

  .submenu {
    display: none;
  }

  .header__menu-close-btn {
    display: flex;
    content: url("/assets/img/header/close.svg");
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .header__menu_active {
    display: flex;
  }

  @media (max-width: 1023px) {
    .header {
      padding: 0;
    }
  }

  }
</style>

<script>
  const burgerEl = document.querySelector(".burger");
  const menuEl = document.querySelector(".js-h-menu");
  const closeBtnEl = document.querySelector(".js-close")
  function handleClick() {
    menuEl.classList.toggle("header__menu_active");
  }
  burgerEl.addEventListener("click", handleClick)
  closeBtnEl.addEventListener("click", handleClick)
</script>