---
import { ETags } from "../enums/ETags";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
export interface Props {
  title: string | ETags;
  preloadImg?: string;
}

const { title, preloadImg } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="preload" href="/assets/fonts/AvantGardeCTT/AvantGardeCTT-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/AvantGardeCTT/AvantGardeCTT-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" as="image" href={`/assets/img/${preloadImg}`}>
  <title>{title}</title>
</head>

<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>

</html>

<style>
    @font-face {
    font-family: 'AvantGardeCTT';
    src: url('/assets/fonts/AvantGardeCTT/AvantGardeCTT-Bold.woff2') format('woff2'),
      url('/assets/fonts/AvantGardeCTT/AvantGardeCTT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
      url('/assets/fonts/inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
      url('/assets/fonts/inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2') format('woff2'),
      url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2') format('woff2'),
      url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2') format('woff2'),
      url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-bg: #111111;
    --color-gray: #C4C4C4;
    --color-black: #111111;
    --color-lightBlack: #1D1F1F;
    --color-text: #FFFFFF;
    --color-hover: #F100AE;
    --color-active: #B50083;

    --btn-fontStack: "Inter", sans-serif;
    --fontStack: "Plus Jakarta Sans", sans-serif;

  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    font-family: var(--fontStack);
    margin: 0;
  }

  :global(button) {
    background: none;
    padding: 0;
    border: none;
    font-family: var(--btn-fontStack);
    cursor: pointer;
  }

  main {
    margin-bottom: 10rem;
  }

  :global(ul) {
    margin: 0;
    padding: 0;
  }

  :global(li) {
    list-style: none;
    padding: 0;
  }

  :global(h1) {
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: 2rem;
  }


  :global(h3) {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  :global(fieldset) {
    padding: 0;
    margin: 0;
    border: none;
  }

  @media (max-width: 767) {
    :global(h2) {
    font-size: 22px;
  }
  }
</style>