---
import { Props } from "astro";

const {currentPath} = Astro.props as Props;
---

<div class="breacrums">
  <a href="/" class="breacrums__main-link">Homepage</a>
  <span class="breacrums__current">{currentPath}</span>
</div>

<style>
  .breacrums {
    font-size: 18px;
    margin-bottom: 4rem;
  }
.breacrums__main-link {
  position: relative;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.breacrums__main-link::after {
  margin-left: 0.5rem;
  content: "/";
}
.breacrums__main-link::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 85%;
  height: 1px;
  background-color: #FFFFFF;
}

.breacrums__current {
  opacity: 0.5;
}
</style>