---

export interface Props {
  title: string;
  path: string;
}
const {title, path} = Astro.props as Props;
---

<a href={path}>{title}</a>

<style lang="scss">
  a {
    padding: 1.625rem 0;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    width: 20rem;
    text-align: center;
    vertical-align: middle;
    background-color: #FF35C7;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #FFFFFF;
  }

  a:hover {
    background-color: var(--color-hover);
  }
</style>