---
import { FormSubmit } from "../solid/FormSubmit";
import FormSection from "./FormSection.astro";

export interface Props {
  title: string;
  desc: string;
  fields: {
    name: string;
    email: string;
    phone: string;
    subj: string;
    textArea: string;
    fetchErr: string;
    sucMsg: string;
    loading: string;
    btnText: string;
  }
}

  const props = Astro.props as Props;

---

<div class="container_mvp">
  <FormSection>
    <div class="mvp">
      <h2 class="title">{props.title}</h2>
      <p class="subtitle">{props.desc}</p>
          <FormSubmit client:load fields={props.fields}/>
      </div>
    </FormSection>
</div>


<style lang="scss">
  .title,
  .subtitle {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .title {
    margin-bottom: 3.75rem;
  }

  .subtitle {
    margin-bottom: 1.875rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    border: none;
    padding: 1.625rem 0;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    width: 20rem;
    text-align: center;
    vertical-align: middle;
    background-color: #FF35C7;
    border-radius: 10px;
    color: var(--text-color);
    align-self: center;
    margin-top: 3.65rem;
  }

  .mvp {
    padding: 3.75rem 3.75rem 5rem 3.75rem;
  }
  
  .container_mvp {
    max-width: 60rem;
    margin: 0 auto;

  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 1.875rem;
    margin-bottom: 1.875rem;
  }

  @media (max-width: 767px) {
    .mvp {
      padding: 1.5rem;
    }
  }
</style>