<section class="form__wrp">
  <slot />
</section>

<style>
  .form__wrp {
    padding: 60px 0px 80px;
    background: var(--color-lightBlack);
    border: 1px solid var(--color-gray);
    border-radius: 20px;

  }
</style>