---
const { title } = Astro.props
---

<section>
  <h2>{title}</h2>
  <slot />
</section>

<style lang="scss">
  section {
    margin-bottom: 10rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 3.75rem;
  }
</style>