---
import { Counter } from "../solid/Counter";
export interface Props {
  desc: string;
  counters: Array<{title: string, value: number}>;
  title: string;
}

const {desc, counters, title} = Astro.props as Props;
---

<section class="about">
  <h2 class="about__title" aria-label={title}></h2>
  <p class="about__desc">
    {desc}
  </p>
  <div class="about__numbers">
    {counters.map(el => (
      <Counter title={el.title} countTo={el.value} client:load />
      
    ))}
    <!-- <Counter title="Projects done" countTo={32} client:load />
    <Counter title="Unique Industries" countTo={12} client:load />
    <Counter title="Number of employees" countTo={32} client:load />
    <Counter title="Years on the market" countTo={12} client:load /> -->
  </div>
</section>

<style lang="scss">
  .about__title {
    appearance: none;
  }

  .about {
    display: flex;
    margin-bottom: 10rem;
  }

  .about__desc {
    margin: 0;
    flex-basis: 50%;
    margin-right: 3.125rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
  }

  .about__numbers {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.625rem;
  }

  @media(max-width: 1023px) {
    .about {
      flex-direction: column;
      padding: 0 2.5rem;
    }
  }
</style>