---
import MainTitle from "../MainTitle.astro";
import Button from "../shared/Button.astro";

export interface Props {
  redLine: string;
  title: string;
  path: string;
}
const {redLine, title, path} = Astro.props as Props;
---
<script>
  console.log(window.location.pathname)
</script>

<section class="hero">
  <div class="hero__title">
    <MainTitle redLine={redLine} title={title} />
    <Button title="Boost my project" path={path}/>
  </div>
</section>

<style lang="scss">

  .hero {
    display: flex;
    margin-bottom: 10.5rem;
    background: transparent url("/assets/img/main/main.webp") no-repeat center right;
  }
  
  @media(max-width: 1279px) {
    .hero {
      background-position: center center;
      background-size: 50%;
      flex-direction: column;
      align-items: center;
    }
    .hero__title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
</style>