---
import MainTitle from "../MainTitle.astro";
import Button from "../shared/Button.astro";

export interface Props {
  redLine: string;
  title: string;
  path: string;
}
const {redLine, title, path} = Astro.props as Props;
---
<section class="hero">
  <MainTitle redLine={redLine} title={title} />
  <Button title="Boost my project" path={path}/>
</section>

<style lang="scss">

  .hero {
    display: flex;
    margin-bottom: 10.5rem;
    background: transparent url("/assets/img/main/main.webp") no-repeat center right;
    flex-direction: column;
  }
  
  @media(max-width: 1279px) {
    .hero {
      background-position: center center;
      background-size: contain;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - 10rem);
    }
  }
  @media(max-width: 1023px) {
    .hero {
      background-size: 35vh;
      background-position-y: 100%;
      max-height: 35rem;
    }
  }

  @media(max-width: 767px) {
    .hero {
      margin-bottom: 10.5rem;
      height: auto;
    }
  }
  @media(max-width: 1023px) and (orientation: landscape) {
    .hero {
      background: none;
      height: 20vh;
    }
  }
  
</style>