---
import MainTitle from "../MainTitle.astro";
import Button from "../shared/Button.astro";

export interface Props {
  redLine: string;
  title: string;
  path: string;
  btnText: string;
}
const {redLine, title, path, btnText} = Astro.props as Props;
---
<section class="hero">
  <MainTitle redLine={redLine} title={title} />
  <div class="btn-wrp">
    <Button title={btnText} path={path}/>
  </div>
</section>

<style lang="scss">

  .hero {
    display: flex;
    margin-bottom: 10.5rem;
    background: transparent url("/assets/img/main/main.webp") no-repeat center right;
    flex-direction: column;
  }
  
  @media(max-width: 1279px) {
    .hero {
      background-position: center bottom;
      background-size: contain;
      flex-direction: column;
      align-items: center;
      min-height: 75vh;
    }
  }
  @media(max-width: 1023px) {
    .hero {
      background-size: 35vh;
      background-position-y: 50%;
    }
  }
  
  @media(max-width: 767px) {
    .hero {
      margin-bottom: 5rem;
      height: auto;
      background-position: center calc(100% - 4rem);
      // background-size: 15vh;
    }
  }
  @media(max-width: 1023px) and (orientation: landscape) {
    .hero {
      // background-size: 45vh;
    }
  }
  
</style>