<section class="how-it-goes">
  <h2>How it goes</h2>
  <ul class="how-it-goes__list">
    <li class="how-it-goes__item how-it-goes__item_planning">
      <h3 class="how-it-goes__title">Planning</h3>
      <p class="how-it-goes__desc">
        Our team examines your requirements and expectations, takes account
        of your needs, and creates a preliminary plan for your approval.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_designing">
      <h3 class="how-it-goes__title">Designing</h3>
      <p class="how-it-goes__desc">
        Everything from an efficient framework to an easy-to-use interface is drawn up,
        examined, evaluated, and approved during the design phase.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_defining">
      <h3 class="how-it-goes__title">Defining</h3>
      <p class="how-it-goes__desc">
        We run due diligence checks, we have you approve features,
        we agree on timelines, run feasibility tests, and finalize the design.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_testing">
      <h3 class="how-it-goes__title">Testing</h3>
      <p class="how-it-goes__desc">
        We apply all kinds of tests to both check the function of the software
        and test its security. We follow test-driven development.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_building">
      <h3 class="how-it-goes__title">Building</h3>
      <p class="how-it-goes__desc">
        Our coders, graphic designers, and development management team
        get hard to work ensuring that your software is as efficient as possible.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_deployment">
      <h3 class="how-it-goes__title">Deployment</h3>
      <p class="how-it-goes__desc">
        With your approval, the software is delivered to the environment you need.
        All rights to the custom solution are transferred to you.
      </p>
    </li>
    <li class="how-it-goes__item how-it-goes__item_maintenance">
      <h3 class="how-it-goes__title">Maintenance</h3>
      <p class="how-it-goes__desc">
        We work to ensure all maintenance can be done easily by your own staff,
        but we also offer ongoing maintenance for highly complex and/or larger programs.
      </p>
    </li>
  </ul>
</section>

<style lang="scss">
  .how-it-goes {
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 6.75rem;
      text-align: center;
    }
  }

  .how-it-goes__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .how-it-goes__list {
    display: flex;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-top: 2rem;
    z-index: 2;
    background: transparent url("/assets/img/main/how.webp") no-repeat;
    background-size: 100vw 690px;
  }


  .how-it-goes__item {
    padding-top: 2.5rem;
    margin-bottom: 5.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    flex-basis: 33%;

    p {
      max-width: 18.125rem;
    }
  }

  .how-it-goes__item::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    top: -50%;
    transform: translateY(50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  .how-it-goes__item_planning::after {
    background-image: url("/assets/img/main/planning.svg");
  }

  .how-it-goes__item_designing::after {
    background-image: url("/assets/img/main/designing.svg");
  }

  .how-it-goes__item_defining::after {
    background-image: url("/assets/img/main/defining.svg");
  }

  .how-it-goes__item_testing {
    flex-basis: 50%;
    margin-bottom: 7rem;

  }

  .how-it-goes__item_testing::after {
    background-image: url("/assets/img/main/testing.svg");
  }

  .how-it-goes__item_building {
    flex-basis: 50%;
    margin-bottom: 7rem;
  }

  .how-it-goes__item_building::after {
    background-image: url("/assets/img/main/building.svg");
  }

  .how-it-goes__item_deployment {
    margin-left: auto;
  }

  .how-it-goes__item_deployment::after {
    background-image: url("/assets/img/main/deployment.svg");
  }


  .how-it-goes__item_maintenance {
    flex-basis: 65%;
  }

  .how-it-goes__item_maintenance::after {
    background-image: url("/assets/img/main/maintenance.svg");
  }

  .how-it-goes__desc {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  @media(max-width: 1023px) {
    .how-it-goes__list {
      position: relative;
      background-image: none;
      background-size: contain;
      flex-direction: column;
      background-position: center;
      padding-top: 29px;
      display: grid;
      grid-template-columns: 1fr;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 85%;
        top: 25px;
        left: 0;
        background: url("/assets/img/main/how_mob.webp") no-repeat center;
      }
    }

    .how-it-goes__item {
      flex-basis: 100%;
      height: 184px;
      margin-bottom: 0;

      p {
        max-width: 55%;
        font-size: 14px;
      }

    }

    .how-it-goes__item::after {
      width: 48px;
      height: 48px;
      background-size: 100%;
      top: -3rem;
    }

    .how-it-goes__item_defining {
      transform: translateY(-19px);
    }

    .how-it-goes__item_testing {
      transform: translateY(-13px);
    }

    .how-it-goes__item_building {
      transform: translateY(-6px);
    }

    .how-it-goes__item_designing {
      transform: translateY(-17px);
    }

    .how-it-goes__item_planning::before {
      content: "";
      position: absolute;
      top: -1.45px;
      left: -50%;
      height: 2px;
      width: 100%;
      background-color: var(--color-gray);
      filter: brightness(0.3);

      // todo

      // top: 0;
      // right: -50%;
      // height: 100%;
      // width: 100%;
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: contain;
      // background-image: url("data:image/svg+xml,%0A%3Csvg width='208' height='239' viewBox='0 0 208 239' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.165894 1.67279C0.165894 1.67279 71.8676 1.62061 116.848 1.65332C235.756 1.65331 236.535 237.994 116.848 237.994H10.1815' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E%0A");
    }

    .how-it-goes__item_maintenance {
      transform: translate(6px);
    }

    .how-it-goes__item_maintenance::before {
      content: "";
      position: absolute;
      top: 4px;
      right: -50%;
      height: 2px;
      width: 100%;
      background-color: var(--color-gray);
      filter: brightness(0.3);
    }
  }

  @media(max-width: 1023px) {
    .how-it-goes__list {
      padding-right: 0;
    }

    .how-it-goes__item {
      width: 100%;
      p {
        max-width: 16.25rem;
      }
    }

    h2 {
      font-size: 22px;
    }
  }
</style>