---
import Section from "../shared/Section.astro";

---

<Section title="We develop projects for clients from all over the world">
  <img src="/assets/img/main/map.webp" alt="" srcset="/assets/img/main/map.webp">
</Section>

<style>
  img {
    display: block;
    width: 100%;
  }
</style>