<a href="/" class="header__logo logo">
  <svg class="logo__img" width="36" height="64" viewBox="0 0 36 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="27.4291" height="42.2732" rx="5" transform="matrix(0.867831 0.49686 3.77346e-05 1 0.458984 7.2851)"
      fill="url(#paint0_linear_510_685)" />
    <rect width="27.4291" height="42.2732" rx="5" transform="matrix(0.867831 0.49686 3.77346e-05 1 6.11133 4.0491)"
      fill="url(#paint1_linear_510_685)" />
    <rect width="27.4291" height="42.2732" rx="5" transform="matrix(0.867831 0.49686 3.77346e-05 1 11.7637 0.813263)"
      fill="url(#paint2_linear_510_685)" />
    <defs>
      <linearGradient id="paint0_linear_510_685" x1="11.9475" y1="-14.9122" x2="31.2009" y2="43.7327"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#F100AE" />
        <stop offset="1" stop-color="#FF0BF5" stop-opacity="0" />
      </linearGradient>
      <linearGradient id="paint1_linear_510_685" x1="9.15457" y1="-12.4268" x2="45.3355" y2="24.5134"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#FF005C" />
        <stop offset="1" stop-color="#666666" stop-opacity="0" />
        <stop offset="1" stop-color="#FF005C" stop-opacity="0" />
      </linearGradient>
      <linearGradient id="paint2_linear_510_685" x1="13.7145" y1="0" x2="13.7145" y2="42.2732"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="#00DDEB" />
        <stop offset="1" stop-color="#0057FF" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
  <svg width="196" height="29" viewBox="0 0 196 29" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M0.131836 28.3492H2.92412V17.2368H8.9615C16.0177 17.2368 18.5836 13.0837 18.5836 8.968C18.5836 5.82511 17.1497 0.661785 8.9615 0.661785H0.131836V28.3492ZM2.92412 3.16861H8.99923C13.9801 3.16861 15.7913 6.01218 15.7913 8.968C15.7913 11.849 13.9801 14.73 8.99923 14.73H2.92412V3.16861Z"
      fill="white" />
    <path d="M22.5379 28.3492H25.3302V0.661785H22.5379V28.3492Z" fill="white" />
    <path
      d="M30.1772 28.3492H32.9695V3.16861H37.988C44.5914 3.16861 46.2894 6.49858 46.2894 9.4544C46.2894 15.7402 39.5728 15.815 37.988 15.815H35.7617L45.2329 28.3492H48.7044L40.8558 18.0225C45.8366 17.6858 49.0817 14.2062 49.0817 9.71631C49.0817 7.43397 48.478 0.661785 37.988 0.661785H30.1772V28.3492Z"
      fill="white" />
    <path
      d="M53.0974 28.3492H68.4172V25.8423H55.8897V15.6654H68.0022V13.1585H55.8897V3.16861H68.4172V0.661785H53.0974V28.3492Z"
      fill="white" />
    <path
      d="M70.9504 28.3492H73.9691L78.0066 19.0702H90.9869L95.0244 28.3492H98.0431L86.0816 0.661785H82.9874L70.9504 28.3492ZM79.1008 16.5633L84.5345 3.87951L89.8926 16.5633H79.1008Z"
      fill="white" />
    <path
      d="M126.34 7.73329C124.001 2.94412 119.284 0.175385 113.473 0.175385C105.398 0.175385 98.9832 6.19926 98.9832 14.4306C98.9832 22.8865 105.511 28.8356 113.699 28.8356C119.171 28.8356 123.85 25.9546 126.453 21.128H123.133C120.869 24.7199 117.095 26.3287 113.699 26.3287C107.058 26.3287 101.775 21.2402 101.775 14.4306C101.775 8.10745 106.492 2.68221 113.511 2.68221C119.51 2.68221 122.265 6.57341 123.019 7.73329H126.34Z"
      fill="white" />
    <path d="M134.735 28.3492H137.527V3.16861H143.904V0.661785H128.358V3.16861H134.735V28.3492Z" fill="white" />
    <path
      d="M157.883 0.175385C149.582 0.175385 143.092 6.27409 143.092 14.5803C143.092 22.8865 149.657 28.8356 157.883 28.8356C166.185 28.8356 172.675 22.662 172.675 14.3558C172.675 6.12443 166.222 0.175385 157.883 0.175385ZM157.921 26.3287C151.204 26.3287 145.884 21.5396 145.884 14.5803C145.884 7.69587 151.091 2.68221 157.921 2.68221C164.638 2.68221 169.883 7.47138 169.883 14.3558C169.883 21.2777 164.713 26.3287 157.921 26.3287Z"
      fill="white" />
    <path
      d="M177.095 28.3492H179.887V3.16861H184.906C191.509 3.16861 193.207 6.49858 193.207 9.4544C193.207 15.7402 186.491 15.815 184.906 15.815H182.68L192.151 28.3492H195.622L187.774 18.0225C192.754 17.6858 196 14.2062 196 9.71631C196 7.43397 195.396 0.661785 184.906 0.661785H177.095V28.3492Z"
      fill="white" />
  </svg>
</a>

<style lang="scss">
  .header__logo {
    margin-right: auto;
    margin-left: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .logo__img {
    margin-right: 1.25rem;
  }
</style>